.row {
    max-width: $grid-width;
    // background-color: #eee;
    margin: 0 auto ;
    
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }

        @include respond(tab-land) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tab-land) {
        max-width: 1200px;
    }
    @include respond(tab-port) {
        max-width: 900px;
        padding: 2rem;
    }
    @include respond(phone) {
        max-width: 600px;
    }
    @include respond(big-desktop) {
        max-width: 1800px;
        padding: 4rem
    }

    @include clearfix;

    .col-1-of-2 {
        width: calc((99% - #{$gutter-horizontal}) / 2);
        float: left;
        
        @include respond(tab-port) {
            padding: 4rem;
        }

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                // margin-left: 10rem;
                margin-bottom: $gutter-vertical-small;
                padding: 4rem;
            }

            @include respond(big-desktop) {
                margin-right: 0;
                // margin-left: 10rem;
                margin-bottom: $gutter-vertical-small;
                // padding: 6rem;
            }
        }

        @include respond(tab-port) {
            // width: calc((100% - #{$gutter-vertical-small}) / 2) !important;
            width: 49%;
        }
    }

    .col-1-of-3 {
        width: calc((94% - #{$gutter-horizontal}) / 3);
        background-color: #eee;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(phone) {
                margin-right: 5rem;
            }
        }

        @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }

        @include respond(phone) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;

        }
    }

    .col-2-of-3 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        background-color: #eee;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

        @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }
    }

    .col-1-of-4 {  
        width: calc((87% - #{$gutter-horizontal}) / 4);
        // background-color: none;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(phone) {
                margin-right: $gutter-horizontal-small;
            }
        }

        @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }

        @include respond(phone) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
            width: calc((97% - #{$gutter-horizontal}) / 4);
        }

    }

    .col-2-of-4 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        // background-color: #eee;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

        @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }
    }

    .col-3-of-4 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        // background-color: #eee;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

        @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }
    }
}


